[package]
name = "server"
version = "0.1.0"
edition = "2024"
rust-version.workspace = true

[dependencies]
tokio.workspace = true
thiserror.workspace = true
serde.workspace = true
dashmap.workspace = true