[package]
name = "server"
version = "0.1.0"
edition = "2024"
rust-version.workspace = true

[dependencies]
executor = { path = "../executor" }

tokio.workspace = true
thiserror.workspace = true
serde.workspace = true
serde_json.workspace = true
dashmap.workspace = true